button {
    border: 1px solid rgb(134, 133, 133);
    border-radius: 5px;
    background-color: rgb(126, 151, 172);
    width: 200px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: rgb(236, 6, 198);
    color: white;
}

input
{
    font-size: 1.2rem;
}
::placeholder
{
    color: black;
    font-size: 1.5rem;
  
    font-weight: bold;
}

.main{
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px;
    background-color: #f9ca24;
   
}

.label {
    font-weight: bold;
    font-size: 1.1rem;
    color: #141618ea;
 

}

.form-control {
    border-radius: 10px;
    color: black;
}


/* .img-div {
    background: url("/assets/123.svg") no-repeat center;
    background-size: cover;
} */

.log-in {
    font-weight: bold;
    text-align: center;
}

.button
{
    width: 200px;
    height: 40px;
    color: black;
    background-color: #dff9fb;
}


.btn-hover
{
    font-weight: normal;
    color: #080808;
    cursor: pointer;
    background-color:inherit;
    border-color: transparent;
}

