<div class="col-md-7 mx-auto ">
    <div class="row">
        <nb-card class="main" 
            style="margin-top:1%;border-radius: 0.5rem; box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);">
            <nb-card-body style="padding: 1rem;" >
                <div class="row">
                    <form [formGroup]="signupform" (ngSubmit)="submitSignupForm()">

                        <h1
                            style="text-align: center; font-weight: bold;font-size:2rem; color:rgb(5, 5, 5); font-family: arsenal;">
                            Sign-Up </h1>
                        <hr style="border: 1px solid black;">
                        <div class="form_field" style="text-align: center;">


                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="mt-3 w-100 border-red" appearance="outline">
                                        <mat-label class="label">First Name</mat-label>
                                        <input type="text" matInput formControlName="firstname"
                                            style="color: rgb(0, 0, 0);">
                                        <mat-error>Required</mat-error>

                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="mt-3 w-100 border-red" appearance="outline">
                                        <mat-label class="label">Last Name</mat-label>
                                        <input type="text" matInput formControlName="lastname"
                                            style="color: rgb(0, 0, 0);">
                                        <mat-error>Required</mat-error>

                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="w-100 mt-2">
                                        <mat-label class="label">Choose age</mat-label>
                                        <input type="number" matInput formControlName="age">
                                        <mat-error>Required</mat-error>

                                    </mat-form-field>

                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="w-100 mt-2" appearance="outline">
                                        <mat-label class="label"> Gender </mat-label>
                                        <mat-select placeholder="Gender" formControlName="gender"
                                            style="color: rgb(0, 0, 0); font-size: 1.1rem;">
                                            <mat-option value="domain">Male</mat-option>
                                            <mat-option value="exact">Female</mat-option>
                                            <mat-option value="exact">Transgender</mat-option>
                                            <mat-option value="exact">Prefer not to say</mat-option>
                                        </mat-select>
                                        <mat-error>Required</mat-error>
                                        
                                    </mat-form-field>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-100 mt-2" appearance="outline">
                                        <mat-label class="label">E-mail</mat-label>
                                        <input type="text" matInput formControlName="email">
                                        <mat-error>Invalid Email</mat-error>

                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">

                                    <mat-form-field class="w-100 mt-2" appearance="outline">
                                        <mat-label class="label">Mobile No.</mat-label>
                                        <input type="tel" matInput maxlength="10" formControlName="mobile">
                                        <mat-error>Required</mat-error>

                                    </mat-form-field>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class=" w-100 mt-2" appearance="outline">
                                        <mat-label class="label">Password</mat-label>
                                        <input type="text" matInput formControlName="password">
                                        <mat-error>Required</mat-error>

                                    </mat-form-field><br>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class=" w-100 mt-2" appearance="outline">
                                        <mat-label class="label">Confirm</mat-label>
                                        <input type="text" matInput formControlName="confirm">
                                        <mat-error>Password Doesn't match</mat-error>

                                    </mat-form-field>
                                </div>
                            </div>

                            <input type="file" class="form-control w-50 mx-auto mt-4 "
                            (change)="uploadAvatar($event)">
                        <img [src]="imgURL" alt="" *ngIf="imgURL" class="img-fluid mt-3"
                            style="height: 200px; width: 200px; border: 2px solid rgb(20, 17, 17);">


                        </div>

                        <div style="margin: 30px; text-align: center;" class="submit">
                            <button mat-raised-button class="button"
                                style="font-weight: bold;font-size: 1.3rem; ">Sign-Up</button>
                        </div>

                        <div style="float:left; width: 44%; color: rgb(17, 17, 17);">
                            <hr />
                        </div>
                        <div style="float:right; width: 44%; color: rgb(14, 13, 13);">
                            <hr />
                        </div>
                        <div style="text-align: center; color: #c7ecee ">
                            <p style="font-size: 1.1rem;font-weight: bold;color: black;margin-top: 35px;">Or</p>
                        </div>

                        <div style="text-align: center;" class="mb-3 mt-3">
                            <a class="btn btn-hover btn-floating m-1" href="#!" role="button"><i class="fab fa-google"
                                    style="font-size: 2.5rem;"></i></a>

                            <a class="btn btn-hover btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook"
                                    style="font-size: 2.6rem;"></i></a>

                            <a class="btn btn-hover btn-floating m-1" href="#!" role="button"><i
                                    class="fab fa-instagram" style="font-size: 2.6rem;"></i></a>

                        </div>


                        <div class=" row log-in mt-3">
                            <p style="font-size: 1.3rem; color: rgb(12, 12, 12);">Already Register? <a
                                    [routerLink]="['/signin']" routerLinkActive="router-link-active"
                                    style="color: #34495e; font-size: 1.4rem;font-weight: bold;">Log-In
                                    Here</a></p>
                        </div>




                    </form>
                </div>


            </nb-card-body>
        </nb-card>
    </div>
</div>