<div class="col-md-11 mx-auto">
    

    <div class="col-md-10 mx-auto">
        <nb-card class="main" style="margin-top:10%;border-radius: 0.5rem; box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);">
            <nb-card-body style="padding: 2rem;">
                <form [formGroup]="videoform" (ngSubmit)="submitAddVideoForm()">
                    <h3 class="text-center" style="color: black; font-size:1.5rem; font-weight:450;">Upload Video</h3>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <mat-form-field class="mt-2 w-100" appearance="outline">
                                <mat-label> Title </mat-label>
                                <input type="text" matInput formControlName="title">
                            </mat-form-field>

                            <mat-form-field class="mt-2 w-100" appearance="outline">
                                <mat-label>Discription</mat-label>
                                <input type="email" matInput formControlName="desc">
                            </mat-form-field>
                            
                            <div class="input-group" style="margin-top: 21px;">
                                <input type="file" (change)="uploadAvatar($event)" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                <img [src]="imgURL" alt="" *ngIf="imgURL" class="img-fluid">
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <mat-form-field class="w-100 mt-1" appearance="outline">
                                <mat-label class="label"> framework </mat-label>
                                <mat-select placeholder="Gender" 
                                  >
                                    <mat-option value="domain">angular</mat-option>
                                    <mat-option value="exact">react</mat-option>
                                    <mat-option value="exact">django</mat-option>
                                   
                                </mat-select>
                            </mat-form-field>
                        
                            <mat-form-field class="w-100 mt-2" appearance="outline">
                                <mat-label class="label"> language </mat-label>
                                  <mat-select placeholder="Gender"
                                  >
                                    <mat-option value="domain">html</mat-option>
                                    <mat-option value="exact">java</mat-option>
                                    <mat-option value="exact">python</mat-option>
                                    <mat-option value="exact">C++</mat-option>
                                  </mat-select>
                            </mat-form-field>

                              <div class="input-group" style="margin-top: 17px;">
                                <input type="file" (change)="uploadVideo($event)" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            </div>
                        </div>
                
                    </div>    
                     

                    
                  
                    <div class="text-center"><button class="w-50 mt-5" nbButton status="primary">Upload</button></div>
                   
                     <div class="text-center mt-4"><p style="font-size:1.1rem; color: black; font-weight: bold;">Having Trouble?<a href="" style="font-weight: bold;margin-left: 3px; color: blueviolet;font-size: 1.2rem;">Contact-Us</a></p> </div>
                </form>
              
            </nb-card-body>
        </nb-card>
    </div>
</div>