i {
  font-size: 1.2rem;
  color: #000000;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

button {
  border: 1px solid rgb(134, 133, 133);
  border-radius: 5px;
  background-color: #0fbcf9;
  width: 200px;
  height: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

button:hover {
  background-color: #4b4b4b;
  color: #ff9f1a;
}

.card-img {
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h4 {
  font-family: roboto;
  font-weight: 500;
  font-size: 0.9rem;
}

h6 {
  font-weight: 290;
  font-family: roboto;
  color: rgb(7, 6, 6);
  margin-top: -4px;
  font-size: 1.3rem;
}

p {
  font-weight: 300;
}

.card-img {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
