<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text">
      We are the team of three people and we developed this website for beginners, who can only understand things by watching videos.
      support us on Facebook ,Instagram and on twitter
    </p>
    <div class="row skills">
     <div class="col-4" style="font-weight: bold;">Shivam Vishwakarma</div>
     <div class="col-3">Sandeep Kumar</div>
     <div class="col-4">Deepika Srivastava</div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    <div class="col-md-2">
      <a class="btn btn-hover btn-floating m-1" href="#!" role="button"><i class="fab fa-google"
        style="font-size: 2.5rem;"></i></a>
    </div>
  
     <div class="col-md-2">
      <a class="btn btn-hover btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook"
        style="font-size: 2.6rem;"></i></a>
     </div>
  
     <div class="col-md-2">
      <a class="btn btn-hover btn-floating m-1" href="#!" role="button"><i
        class="fab fa-instagram" style="font-size: 2.6rem;"></i></a>
     </div>
    </div>
    
  </div>

</div>






