<div class="col-md-8 mx-auto">
    <div class="row">
        <nb-card  style="margin-top:10%;border-radius: 0.5rem; box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);">
            <nb-card-body>
                <div class="row text-center">
                   <h1>About-Us</h1><hr>
                </div>

                <div class="row">
                    <h6>Welcome to the Developer's Planet. We are the team of three peoples.i don't know what to write in this section. so i am 
                        going to write down my introduction.kya karoge introduction jaanke.jaane do aur batao kya haal chaal hai.</h6>
                </div>


                <div class="row">
                    <section id="chefs" class="chefs">
                        <div class="container" data-aos="fade-up">
                  
                          <div class="section-title">
                            <h2>Chefs</h2>
                            <p>Our Proffesional Chefs</p>
                          </div>
                  
                          <div class="row">
                  
                            <div class="col-lg-4 col-md-6">
                              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                                <img src="assets/images/chefs/chefs-1.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                  <div class="member-info-content">
                                    <h4>Walter White</h4>
                                    <span>Master Chef</span>
                                  </div>
                                  <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                  
                            <div class="col-lg-4 col-md-6">
                              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                                <img src="assets/images/chefs/chefs-2.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                  <div class="member-info-content">
                                    <h4>Sarah Jhonson</h4>
                                    <span>Patissier</span>
                                  </div>
                                  <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                  
                            <div class="col-lg-4 col-md-6">
                              <div class="member" data-aos="zoom-in" data-aos-delay="300">
                                <img src="assets/images/chefs/chefs-3.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                  <div class="member-info-content">
                                    <h4>William Anderson</h4>
                                    <span>Cook</span>
                                  </div>
                                  <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                  
                          </div>
                  
                        </div>
                      </section>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>