<div class="row" *ngIf="videoData">

    <div class="col-md-8" style="background-color: white;">
        <video class="img-fluid" [src]="url+videoData.file" #video (loadedmetadata)="onMetadata($event, video)" controls style="margin-top: 10px;"></video> <hr>
        <div class="row mt-2" ><h1  style="margin-left: 10px;">{{videoData.title}}</h1> <p style="margin-top: -17px;margin-left: 11px;">{{videoData.views}} &nbsp; Views</p></div>
        <div class="row mt-4" style="margin-left: 7px;">
            <div class="col-3">
               <i class="far fa-thumbs-up" aria-hidden="true"> &nbsp; <p style="margin-top: 12px;">{{videoData.upvotes}}</p> </i>
            </div>
         
            <div class="col-3">
                <i class="far fa-calendar" aria-hidden="true" > &nbsp; <p style="margin-top: 10px; margin-left: -31px;">{{videoData.created | date}}</p> </i>
            </div>
           
            <div class="col-3">
                <i class="fas fa-share" aria-hidden="true"  > &nbsp; <p style="margin-top: 10px;margin-left: -8px;">Share</p> </i>
            </div>
           
            <div class="col-3">
                <i class="far fa-flag" aria-hidden="true"  > &nbsp; <p style="margin-top: 10px; margin-left: -9px;">Report</p> </i>
            </div>
        </div>
         
        <hr>
        <div class="row">
           <div class="col-6">  <h3>{{videoData.developer.fullname}}</h3></div>
           <div class="col-6" style="text-align: right;"><h5 style="margin-top: 10px;"> <i class="fa fa-user-circle" aria-hidden="true"></i> Follow </h5></div>
        </div>
        <hr>
       <div class="row">
          <div class="col-5"><h3>Comments ::&nbsp;{{videoData.comments.length}}</h3></div>
       </div>
 
 <div class="row">
    
    <nb-card>
        <nb-card-body>
            <p>{{videoData.text}}</p>
          
        </nb-card-body>
    </nb-card>
 </div>
    </div>
   
    <div class="col-md-4" style="background-color: white;">
        <nb-card>
            <nb-card-body>
                <h1>Recommondations</h1> <hr>
            </nb-card-body>
        </nb-card>
    </div>
</div>
