.vid-box {
  position: sticky;
  top: 0;
}

h1
{
  font-family: Roboto;
  font-weight: 400;
  color: rgb(41, 39, 39);
}

body
{
  background-color:#fff;
}

i
{
  font-size: 1.5rem;
  font-weight: bold;
}

h3
{
  font-family: Roboto;
  font-weight: 300;
  color: rgb(41, 39, 39);
}

p
{
  font-size: 1rem;
  font-weight: 300;
}

h5{
  font-size: 0.9rem;
}