<div class="col-md-10 mx-auto">
    <nb-card *ngIf="!loading"
        style="border-radius: 0.5rem; box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);">
        <nb-card-body style="padding: 2rem;">
            <h3>{{queryData.title}}</h3>
            <nb-tag-list (tagRemove)="onTopicRemove($event)">
                <nb-tag size="small" appearance="outline" status="primary" *ngFor="let topic of queryData.data.topics"
                    [text]="topic"></nb-tag>
            </nb-tag-list>
            <br>
            <div class="mt-4">
                <p class="text-muted" style="display: inline;">Posted on : {{queryData.created | date}}</p>
                <div class="float-end">
                    <p class="text-muted" style="display: inline;">By : {{queryData.developer.fullname}}</p>
                </div>
            </div>
            <hr>
            <div class="row mt-2">
                <div class="col-2">
                    <div class="query-info">
                        <h3 class="text-center">{{queryData.upvotes}}</h3>
                        <hr>
                        <p class="text-center">Upvotes</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="query-info">
                        <h3 class="text-center">{{queryData.comments.length}}</h3>
                        <hr>
                        <p class="text-center">Comments</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="query-info">
                        <h3 class="text-center">{{queryData.solutions.length}}</h3>
                        <hr>
                        <p class="text-center">Solutions</p>
                    </div>
                </div>
            </div>

            <div class="mt-5 query">
                <markdown [data]="queryData.query"></markdown>
            </div>

            <button class="mt-4" nbButton hero status="success" [routerLink]="['/user/solution', queryData._id]" routerLinkActive="router-link-active" >Provide Solution</button>

            <h4 class="mt-5">Comments</h4>
            <hr>
            <div class="comments-body" *ngFor="let comment of queryData.comments">
                <div class="row">
                    <div class="col-10">
                        <p>{{comment.value}}</p>
                    </div>
                    <div class="col-2">

                    </div>
                </div>
            </div>
            <div class="add-comment">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Add Comment</mat-label>
                    <textarea matInput #comment></textarea>
                </mat-form-field>
                <button class="mt-1" nbButton (click)="addComment(text.value)">Submit</button>
            </div>
             
            <div class="comments">
                <div class="comment" *ngFor="let comment of queryData.comments">
              
                             <div class="row">
                                   
                                    <div class="col-md-3" style="border: 1px solid grey;">
                                        <nb-user style="margin-bottom: 6px;"
                                        size="large"
                                        [name]="queryData.developer.fullname"
                                        [title]="queryData.developer.email"
                                        [picture]="url+queryData.developer.avatar"> 
                                    </nb-user>
                                        <div class="row">
                                            <div class="col-6"></div> 
                                            <div class="col-2"><i class="fas fa-calendar" aria-hidden="true" style="font-size: 0.7rem;"></i></div>
                                            <div class="col-4">  <p style="font-size: 0.8rem; margin-left: -25px;">{{comment.created | date}}</p></div>                                       
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9">
                                        <h5>{{comment.text}}</h5>
                                   </div>
                             </div>
                         <br><br> <hr style="color: black; font-weight: bolder; font-size: 1.
                         2rem
                         ;">
          
                 </div>  
            </div>
            
         
         
            <h4 class="mt-5">Responses</h4>
            <hr>
            <nb-card class="mt-3" *ngFor="let solution of queryData.solutions">
                <nb-card-body>
                    <h2>{{solution.title}}</h2>
                    <h3 [routerLink]="['/view', solution.video._id]" routerLinkActive="router-link-active" >View Video</h3>
                </nb-card-body>
            </nb-card>

        </nb-card-body>
    </nb-card>
</div>