i {
  font-size: 1.2rem;
  color: #000000;
}

p {
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}

button {
  border: 1px solid rgb(134, 133, 133);
  border-radius: 5px;
  background-color: #0fbcf9;
  width: 200px;
  height: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

button:hover {
  background-color: #4b4b4b;
  color: #ff9f1a;
}

.card-img {
  height: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
