<div class="container" *ngIf="!loading">
    <nb-card *ngFor="let video of videoList" style="border-radius: 0.5rem; box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);">
        <nb-card-body style="padding: 2rem;">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="url+video.thumb" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h2>
                        <a [routerLink]="['/app/view', video._id]" routerLinkActive="router-link-active" >{{video.title}}</a>
                    </h2>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>